@import url("hobbies.css");

section.hobbies{
    text-align: center;
}
.hobbies__line{
    padding: 0% 10% 0% 10%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.hobbies__box .bx{
    font-size: 1.8rem;
    color: var(--color-text);
}

.hobbies__box .bx:hover{
    color: var(--color-second);
    transition: 0.3s all linear;
}

